.env
/src/ToolAgents/__pycache__
/src/ToolAgents/agents/__pycache__
/src/ToolAgents/utilities/__pycache__
/src/ToolAgents/provider/__pycache__
/src/ToolAgents/tests/__pycache__
/src/ToolAgents.egg-info/
/dist

/examples/code_interpreter/.venv
/examples/code_interpreter/__pycache__
/examples/code_agent/__pycache__
/examples/llm_computer_interface/venv_agent
/examples/llm_computer_interface/__pycache__
